
@media screen and (max-width: 991px){
    .nav-toggle{
        display: block;
        margin-right: 20px;
    }
    .nav-links{
        position: absolute;
        background-color: white;
        left: -100%;
        top: 100%;
        width: 100%;
    }
    .nav-links.active{
        left: 0;
    }
    .nav-links ul{
        flex-direction: column;
    }
    .main-nav{
        overflow: initial;
    }
    .examples-area{
        gap: 20px;
    }
    .examples-card{
        width:calc(50% - 10px);
        height: 220px;
    }
    .cta-section{
        padding-block: 80px;
    }
}

@media screen and (max-width:767px) {
    .header-section{
        flex-direction: column-reverse;
    }
    .header-left{
        max-width: 100%;
    }
    .header-left p, h1{
        text-align: center;
    }
    .primary-button{
        width: 100%;
    }
    .features-card{
        min-width: calc(50% - 10px);

    }
    .big-feature-container, #second-big-feature{
        flex-direction: column;
    }
    .footer-container{
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }
    .link-column{
        align-items: center;
    }
    .subfooter-container{
        flex-wrap: wrap;
    }
}


@media screen and (max-width:479px){
    :root{
        --padding-inline-section: 10px;
    }
    h1{
        font-size: 2rem;

    }
    h2{
        font-size: 1.5rem;

    }
    h3{
        font-size: 1.2rem;
    }
    p{
        font-size: 1rem;
    }
    .features-card{
        min-width: 100%;

    }
    .examples-card{
        min-width: 100%;
        height: 160px;
    }
    .example-section {
        padding: 35px var(--padding-inline-section) 20px;
    }


}
